body{
    margin:0;
}

.wrapper{
    background-color: #FFFFFF;
    max-width: 1120px;
    padding: 0;
    margin: 0;
    margin:auto;
}
/* СТИЛИ ДЛЯ ХЕДЕРА*/
.header{
    margin: auto;
    width: 100%;
    min-height: 88px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
}
.header__button-container_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__button-container_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu-button{
    background: url("./img/menu-button.svg") no-repeat center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.header__logo{
    width: 97px;
    height: 51px;
}
.header__divider{
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}
.header__repair-button{
    background: url("./img/repair-button.svg") no-repeat center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.header__search-button{
    background: url("./img/search-button.svg") no-repeat center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
/* БЛОК С ТРЕМЯ КНОПКАМИ*/
.connection-buttons{
    display: flex;
    width: 152px;
    justify-content: space-between;
}
.connection-buttons__call-button{
    background: url("./img/phone.svg") no-repeat center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.connection-buttons__chat-button{
    background: url("./img/chat.svg") no-repeat center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.connection-buttons__profile-button{
    background: url("./img/man.svg") no-repeat center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
/*СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ */
.page{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    font-family: "TT Lakes";
    font-weight: normal;
    margin: auto;
}
.page__title{
    display: flex;
    width: 288px;
    margin-top: 24px;
    margin-bottom: 0;
    height: 40px;
    font-weight: bold;
}
.page__title-text{
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
.page__menu-list{
    width: 100%;
    margin-top: 24px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}
.fade{
    position: absolute;
    z-index: 1;
    right: 0;
}
.page__menu-item{
    color: #7E7E82;
    display: inline-block;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 9px;
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}
.page__menu-item:first-of-type{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.page__info-text{
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-align: left;
    overflow:hidden;
}
.page__readmore-button{
    background: url("./img/expand.svg") no-repeat left;
    border: none;
    width:132px;
    height: 24px;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 0;
    text-align: right;
}
.page__menu-list::-webkit-scrollbar {
    display: none;
}
.page__main-picture{
    margin-bottom: 35px;
}
.page__pseudo-header{
    display: none;
}
.page-info{
    display: flex;
    flex-direction: column;
}


/* МЕДИА ЗАПРОСЫ*/

/*320*/
@media screen and (min-width: 320px) {
    .header{
        justify-content: space-evenly;
    }
    .connection-buttons{
        display: none;
    }
    .header__divider:first-of-type{
        display: none;
    }
    .header__button-container_left{
        width: 152px;
    }
    .header__button-container_right{
        width: 114px;
    }

    .page__title-text{
        margin-left: 12px;
    }
    .page__menu-item:first-of-type{
        margin-left: 16px;
    }
    .page__info{
        margin-top: 24px;
    }
    .page__info-text{
        margin-left: 16px;
        margin-bottom: 16px;
        max-height: 90px;
        max-width:288px;
    }
    .page__readmore-button{
        margin-left: 16px;
        margin-bottom: 16px;
    }
    .page__main-picture{
        width: 320px;
        height: 176px;
    }
    
  }
/*768*/
@media screen and (min-width: 500px) {
    .header{
        justify-content: space-between;
    }
    .connection-buttons{
        display: flex;
    }
    .header__divider:first-of-type{
        display: block;
    }
    .header__button-container_left{
        width: 179px;
        margin-left: 24px;
    }
    .header__button-container_right{
        width: 282px;
        margin-right: 24px;
    }

    .page__title-text{
        margin-left: 20px;
    }
    .page__menu-item:first-of-type{
        margin-left: 24px;
    }
    .page__main-picture{
        width: 360px;
        height: 208px;
        border-radius: 6px;
        margin-right: 24px;
        margin-top: 32px;

    }
    .page__info-text{
        margin-bottom: 10px;
        max-height: 160px;
        max-width: 312px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-left: 24px;
    }
    .page__readmore-button{
        margin-left: 24px;
    }
    .page__info{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
    }
    .page__description{
        margin-left: 24px;
        display: flex;
        flex-direction: column;
    }
    .page{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }
/*1120*/
@media screen and (min-width: 900px){
    .header{
        display: none;
    }
    .page__pseudo-header{
        min-height: 88px;
        display: flex;
        align-items: center;
        justify-self: flex-end;
    }
    .page{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .page__main-picture{
        width: 531px;
        height: 307px;
        border-radius: 6px;
        margin-right: 24px;
        margin-top: 19px;
    }
    .page__info{
        margin-left: 34px;
        max-width: 490px;
        margin-top:19px
    }
    .page__info-text{
        margin-left: 0;
        max-width: 490px;
        max-height: 160px;
    }
    .page__readmore-button{
        margin-left: 0;
        margin-bottom: 0;
    }
    .page__menu-list{
        max-width: 1100px;
        white-space: normal;
    } 
    .page__menu-item:last-of-type{
       padding-left:42px;
    }
    body{
        display: flex;
        margin: 0;
    }
    .page__pseudo-header{
        width: 378px;
        display: flex;
        justify-content: space-between;
        margin-right: 32px;
        margin-top: 20px;
        font-weight: 600;
    }
    .page__pseudo-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 173px;
    }
    .page__title{
        margin-top: 42px;
    }
}


/*СТИЛИ*/


@font-face {
    font-family: 'TT Lakes';
    font-style:  normal;
    font-weight: bold;
    font-display: swap;
    src: url("./fonts/TTLakes-Bold.ttf");
  }
@font-face {
    font-family: 'TT Lakes';
    font-style:  normal;
    font-weight: normal;
    font-display: swap;
    src: url("./fonts/TTLakes-Regular.ttf");
  }
  @font-face {
    font-family: 'TT Lakes';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/TTLakes-DemiBold.ttf");
  }